@keyframes rollRight {
  0% {
    transform: translateX(-500px) rotate(0deg);
  }
  50% {
    transform: translateX(0) rotate(500deg);
  }
  100% {
    transform: translateX(0) rotate(1000deg);
  }
}

@keyframes rollLeft {
  0% {
    transform: translateX(500px) rotate(0deg);
  }

  50% {
    transform: translateX(0) rotate(-500deg);

    100% {
      transform: translateX(0) rotate(-1000deg);
    }
  }
}
@keyframes buttonPulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 107, 107, 0.7);
  }
  70% {
    transform: scale(1.05);
    /* ქმნის გარედან განათების/ტალღის ეფექტს */
    box-shadow: 0 0 0 15px rgba(255, 107, 107, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 107, 107, 0);
  }
}
