* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  background-color: darkgrey;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 150px;
}
.logo {
  border-radius: 50%;
  max-width: 150px;
  height: auto;
}
/* .nav-menu {
  font-size: 18px;
  letter-spacing: 9%;
  position: relative;
  height: 900;

  &:hover {
  }
} */
.nav-menu {
  font-size: 18px;
  letter-spacing: 0.09em;
  display: inline-block; /* აუცილებელია ტრანსფორმაციისთვის */
  transition:
    transform 0.2s ease,
    text-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
}
