* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  background-color: darkgrey;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 150px;
}
.logo {
  border-radius: 50%;
  max-width: 150px;
  height: auto;
}
/* .nav-menu {
  font-size: 18px;
  letter-spacing: 9%;
  position: relative;
  height: 900;

  &:hover {
  }
} */
.nav-menu {
  font-size: 18px;
  letter-spacing: 0.09em; /* 9% -> 0.09em უკეთესი პრაქტიკაა */
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #000; /* შენი ბრენდის ფერი */
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    background-color: #f7b8b8;
  }
}
